# =========================
# NODE.JS
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# ENV FILES (SECRETS)
# =========================
.env

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# BUILD / CACHE
# =========================
dist/
build/
.cache/

# =========================
# IDE / EDITOR SETTINGS
# =========================
.vscode/
.idea/

# =========================
# LOG FILES
# =========================
logs/
*.log

# =========================
# TEMP FILES
# =========================
*.tmp
*.temp
